form {
    display: flex;
    flex-direction: column;
}

#form {
    border: 2px solid var(--color4);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: var(--color2);
    min-width: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 5px;
}

textarea {
    border-radius: 5px;
    margin: 5px;
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.4);
}

label {
    display: flex;
    align-self: center;
}

button {
    display: flex;
    align-self: center;
    width: 25%;
    text-align: center;
    justify-content: center;
    color: var(--color2);
    font-weight: bold;
}

select {
    border-radius: 5px;
}
